@import '../../../sass/common/constants';
@import '../../../sass/common/mixins';

.cell {
  border: 1px solid var(--color-bg-clue);
  background: var(--color-cell-initial);
  user-select: none;

  &_crossed {
    background: center no-repeat #fff url('../../../assets/cross.svg');
  }

  &_dark {
    background: var(--color-cell-guessed);
  }

  &_solved {
    pointer-events: none;
  }

  .play-field_medium &:nth-of-type(10n + 5) {
    border-right: 2px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(10n + 6) {
    border-left: 1px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(n + 51):nth-of-type(-n + 60) {
    border-top: 1px solid var(--color-main-border);
  }

  .play-field_medium &:nth-of-type(n + 41):nth-of-type(-n + 50) {
    border-bottom: 2px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(5n + 5):not(:nth-of-type(15n)) {
    border-right: 2px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(5n + 6):not(:nth-of-type(15n + 1)) {
    border-left: 1px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(n + 76):nth-of-type(-n + 90),
  .play-field_hard &:nth-of-type(n + 151):nth-of-type(-n + 165) {
    border-top: 1px solid var(--color-main-border);
  }

  .play-field_hard &:nth-of-type(n + 61):nth-of-type(-n + 75),
  .play-field_hard &:nth-of-type(n + 136):nth-of-type(-n + 150) {
    border-bottom: 2px solid var(--color-main-border);
  }

  .game-field_easy & {
    width: 40px;
    height: 40px;
  }

  .game-field_medium & {
    width: 28px;
    height: 28px;
  }

  .game-field_hard & {
    width: 18px;
    height: 18px;
  }
}