.nav {
  position: absolute;
  z-index: 20;
  top: 100px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;

  // transition: 0.3s ease-in-out;
  animation: burger-close 0.3s ease-in-out;
  opacity: 0;
  row-gap: 10px;
  visibility: hidden;

  :root[theme='dark'] & {
    background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%),
      rgb(223 153 252 / 50%);
  }

  :root[theme='light'] & {
    background: linear-gradient(180deg, var(--color-shadow-dark) 0%, var(--color-shadow-dark) 100%),
      rgb(243 251 210 / 50%);
  }

  &_active {
    animation: burger-open 0.3s ease-in-out;
    opacity: 1;

    // transition: 0.3s ease-in-out;
    visibility: visible;
  }
}