@import '../../sass/common/constants';
@import '../../sass/common/placeholders';
@import '../../sass/common/mixins';

.footer {
  width: 100%;
  height: 50px;
  backdrop-filter: blur(12.5px);

  :root[theme='dark'] & {
    background: var(--color-shadow-dark);
  }

  :root[theme='light'] & {
    background: rgb(0 0 0 / 60%);
  }
}

.footer__wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

  @extend %container;
}

.footer__link {
  display: flex;
  align-items: center;
  color: var(--color-primary);
  gap: 10px;

  @include font(2rem, 900, 1.05);
  @extend %transition;

  @include media-hover {
    &:hover {
      filter: drop-shadow(2px 3px 3px var(--color-shadow-light));
    }
  }

  &:active {
    filter: drop-shadow(2px 3px 3px var(--color-shadow-dark));
    opacity: 0.7;
  }
}

.footer__img {
  display: block;

  &_github {
    width: 30px;
    height: 30px;

    :root[theme='dark'] & {
      background: center no-repeat url('../../assets/github_dark.svg');
    }

    :root[theme='light'] & {
      background: center no-repeat url('../../assets/github_light.svg');
    }
  }

  &_rs {
    width: 86px;
    height: 32px;

    :root[theme='dark'] & {
      background: center no-repeat url('../../assets/rs_dark.svg');
    }

    :root[theme='light'] & {
      background: center no-repeat url('../../assets/rs_light.svg');
    }
  }
}