.play-field {
  display: grid;

  &_easy {
    width: calc(5 * 40px);
    grid-template-columns: repeat(5, 1fr);
  }

  &_medium {
    width: calc(10 * 28px);
    grid-template-columns: repeat(10, 1fr);
  }

  &_hard {
    width: calc(15 * 18px);
    grid-template-columns: repeat(15, 1fr);
  }

  &_blocked {
    pointer-events: none;
  }

  user-select: none;
}
