:root {
  --color-shadow-light: rgb(256 256 256 / 40%);
  --color-shadow-dark: rgb(0 0 0 / 40%);
}

:root[theme='dark'] {
  --color-primary: #360e40;
  --color-bg-button: #2e2448;
  --color-button-active: #df99fc;
  --color-background-backdrop: rgb(64 63 61 / 80%);
  --color-cell-initial: #360e40;
  --color-cell-guessed: #fff;
  --color-bg-clue: #d26efb;
  --color-main-border: #e9cbe3;
}

:root[theme='light'] {
  --color-primary: #baa2b5;
  --color-bg-button: #283d14;
  --color-button-active: #f2f3ec;
  --color-background-backdrop: rgb(64 63 61 / 80%);
  --color-cell-initial: #fff;
  --color-cell-guessed: #000;
  --color-bg-clue: #baa2b5;
  --color-main-border: #745d4d;
}

$tablet: 768px;
$mobile: 480px;

@keyframes burger-close {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes burger-open {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
