.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-backdrop);
  visibility: hidden;

  &_active {
    visibility: visible;
  }
}

.modal__content {
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px;
  border-radius: 20px;
  background-color: var(--color-main-border);
  gap: 40px;
  text-align: center;
  transform: translateY(-200%);
  transition: all 0.5s ease-in-out;

  .modal_active & {
    transform: translateY(0%);
  }

  :root[theme='light'] & {
    background-color: #d4d8d0;
  }

  @media screen and (width <= 480px) {
    padding: 20px;
  }
}

.modal__title {
  @include font(4rem, 900, 1.05);

  color: var(--color-primary);
}
